.data {
    float: left;
    margin-top: 20px;
}

.primeirop {
    color: #45505E;
    font-size: 15px;
    font-weight: 500;
    margin-left: -50px;
}

.segundop {
    color: #8C9CAD;
    font-size: 13px;
    margin-left: 40px;
    margin-top: -10px;
}